
@{
    ViewData["Title"] = "ShowResult";
}

@model StudentWithCourseNameDegreeColorViewModel

<h1>ShowResult</h1>
<h2 style="color: @Model.Color">@Model.StdId @Model.StdName @Model.CrsName @Model.CrsDegree</h2>



