@model Department
<!--
    MAgic string Key
    type Casting
-->


<h1 style="color:@ViewData["clr"]">@Model.Name</h1>
<h2>Current Data @ViewData["date"]</h2>
<h2>Current Data @ViewBag.date</h2>


<h2>Tempratier: @(int.Parse(ViewData["temp"].ToString())+10)</h2>
<h2>Tempratier: @(ViewBag.temp + 10)</h2>


<select class="form-control">
    @foreach (var item in (List<string>)ViewData["brc"])
    {
       <option>@item</option> 
    }
</select>
<select class="form-control">
    @foreach (var item in ViewBag.brc)
    {
           <option>@item</option> 
    }
</select>
<!--
 ViewData["clr"]
 ViewData["brc"]
 ViewData["date"]
 ViewData["temp"]
-->